.player {
    display: flex;
    gap: 20px;

}

.computer, .Human{
    margin: 10px;
    border: 1px solid black;
    width: 50vw;
    height: 600px;
    max-width: 640px;
    
}
// .Human-header{
//     width: 40vw;
//     height: 480px;
// }
.webcam, .canvas {
    position: absolute;
    margin-left: auto;
    // margin-right: auto;
    // left: 0;
    right: 20px;
    text-align: center;
    z-index: 100;
    width: 48vw;
    max-width: 600px;
    // height: 100%;
}



// style={{
//     position: "absolute",
//     marginLeft: "auto",
//     // marginRight: "auto",
//     left: 0,
//     right: 0,
//     textAlign: "center",
//     zindex: 100,
//     width: 640,
//     height: 480,
//   }}
.rock-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rock-game-h1 {
    margin-top: 50px;
    font-size: 3vw;
    margin-bottom: 50px;
}
.rock-game-h2{
    font-size: 1.3vw;
    width: 58vw;
    font-weight: normal;
    margin-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.rock-start {
    margin: 50px auto;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    /* font-size: 1.2vw !important; */
    font-size: clamp(2vw, 2.2vw, 2.2vw);
    cursor: pointer;

    background: linear-gradient(to right, violet, rgb(176, 126, 212), rgb(108, 108, 221), rgb(104, 187, 104), yellow, orange, red);

}
.count {
    // font-size: clamp(20px, 5vw,  40px);
    font-size: 8vw;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-weight: bold;
}
.comp-choice {
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Rubik Doodle Shadow', system-ui;

}
.result {
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 50px);
    color:rgb(6, 121, 17);

}

.redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    
}
.redirect-h1 {
    font-size: 5vw;
}
.point-to-home {
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
    animation:blinking 5s infinite;
    text-shadow: 2px 2px #fbee05;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 20px;
    border-radius: 5px;
    
}

@keyframes blinking{
    0%{   color: rgb(255, 251, 0);   }
    47%{   color: #000; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: #000;   }
    }
    
    
@media only screen and (max-width: 1000px){
    .player{
        flex-direction: column;
    }
    .computer, .Human{
        width: 92vw;
    }
    .computer{
        height: auto;
    }

    .webcam, .canvas {
        // right: 10px;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        // height: 100%;
    }
    .count {
        font-size: 12vw;
    }
    
}

@media only screen and (max-width: 1100px){
  
    .rock-game-h1 {
        font-size: 4.5vw;
    }
    .rock-game-h2{
        font-size: 2.5vw;
        width: 85vw;
        font-weight: normal;
        margin-bottom: 30px;
        font-weight: bold;
    }
    
  }

  @media only screen and (min-width: 1500px) {
    /* Styles to apply when the viewport width is between 600px and 1200px */
    /* Add your CSS rules here */
    .webcam, .canvas {
        // top: 20px;
        right: 160px;
        // width: 92vw;
        // height: 100%;
    }
  }
  