* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: antiquewhite; */
  /* margin-bottom: 15px; */
 
}

.blackMode {
  background-color: rgb(48, 47, 47);
  color: rgb(232, 211, 211);
  .puzzle-hint {
    box-shadow: rgba(238, 227, 14, 0.24) 0px 3px 8px;
    background-color: #523a81;
  }
}
.switch {
  position: fixed;
  top: 20px;
  left: auto;
  right: 20px;
  font-size: 2vw;
  cursor: pointer;
}
.App{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  font-family: 'Rubik Doodle Shadow', system-ui;

  

}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-audio {
  font-size: clamp(25px, 3vw, 40px);
  position: fixed;
  left: auto;
  top: 20px;
  right:12%;
  cursor: pointer;
}
.banner {
  display: flex;
  gap: 10px;
  top: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.reg{
  background-color: rgb(87, 83, 91);
  width: 10vw;
  height: 15px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;

}
.yellow{
  background-color: rgb(255, 208, 0);
}

.progress-restart {
  margin: 50px auto;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  // font-size: 1.2vw !important;
  font-size: clamp(2vw, 2.2vw, 2.2vw);
  cursor: pointer;
  background: linear-gradient(to right, violet, rgb(176, 126, 212), rgb(108, 108, 221), rgb(104, 187, 104), yellow, orange, red);

}

.hooray{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 250, 255);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: fixed;
  top: 10%;
  .img {
    width: 50vw;
    max-width: 500px;
  }
}

